
@{
    ViewData["Title"] = "Alertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alertas</h1>

<script src="~/js/jquery-3.2.1.js"></script>
<script src="~/js/angular.js"></script>
<script src="~/js/crossfilter.js"></script>
<script src="~/js/fusioncharts.js"></script>
<script src="~/js/angular-fusioncharts.js"></script>
<script src="~/js/angular-fusioncharts.min.js"></script>
<script src="~/js/fusioncharts.theme.fusion.js"></script>
<script src="~/js/fusioncharts.maps.js"></script>
<script src="~/js/ng-map.min.js"></script>
<script src="~/js/angular-block-ui.js"></script>
<link href="~/css/angular-block-ui.css" rel="stylesheet" />


<style type="text/css">
    .CardModel {
        width: 100%;
        height: 226px;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        box-shadow: black 1px 1px 6px;
        margin: 1px 1px 15px 1px;
        background: url(/images/backgroud/backpapel7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="container" ng-controller="CtrlAlertas">




    <div class="row">
        @*<button type="button" class="btn btn-outline-primary">PAINEL DE VAGAS CADASTRADAS PARA USUARIOS ROSE SHIELD.</button>
            <button type="button" class="btn btn-outline-success" style="float:left;margin-left:15px;">TOTAL DE VAGAS ATIVAS: {{TOTALGERAL}}.</button>*@
    </div>
    <br /><hr />

    <div class="row">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nome Completo</th>
                    <th>Rg/CPF</th>
                    <th>E-Mail</th>
                    <th>NOTIFICAÇÕES</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in CadastroBasicoVitimas">
                <tr>
                    <td>{{item.NomeCompleto}}</td>
                    <td>{{item.Rg_CPF}}</td>
                    <td>{{item.Email}}</td>
                    <td><button type="button" ng-click="SendEmail(item.Id,item.Email)" class="btn btn-success">EMAIL</button>
                    <button type="button" ng-click="SendSMS(item.Contato,item.Id)" class="btn btn-info">SMS</button>
                    <button type="button" ng-click="SendEmail(item.Id,item.Email)" class="btn btn-warning">CHAMADA</button></td>
                </tr>
            </tbody>
        </table>

    </div>



</div>

<script src="~/js/Alertas.js"></script>

