
@{
    ViewData["Title"] = "Relatorios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery-3.2.1.js"></script>
<script src="~/js/angular.js"></script>
<script src="~/js/angular-block-ui.js"></script>
<script src="~/js/fusioncharts.js"></script>
<script src="~/js/angular-fusioncharts.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
        integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
        crossorigin="anonymous"></script>


<div style="background-color: white;width: 100%;height: 800px;display: inherit;float: left;margin: 1% 0% 0% 1%;" ng-controller="CtrlRelatorios" class="ng-scope">
    <div class="row" style="width: 100%;height: 170px;background-color: white;float: left;margin: 0% 0% 0% 0%;">
        <div class="row" style="width: 100%;">
          <h1>RELATORIO DAS VITIMAS E USUARIOS CADASTRADOS</h1>
        </div>
        <div class="row" style="width: 100%;">
            <div class="col-xl-3">
                <button type="button" class="btn btn-primary" style="width: 100%;">Primary</button>
            </div>
            <div class="col-xl-3">
                <button type="button" class="btn btn-secondary" style="width: 100%;">Secondary</button>
            </div>
            <div class="col-xl-3">
                <button type="button" class="btn btn-info" style="width: 100%;">GERAR RELATORIO EM EXCEL</button>
            </div>
            <div class="col-xl-3">

                <button type="button" class="btn btn-success" style="width: 100%;">GERAR RELATORIO PDF</button>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%;height: 679px;background-color: white; float: left;  margin: 0% 0% 0% 0%;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nome Vitima</th>
                    <th>Ocorrencia</th>
                    <th>Qtde Filhos</th>
                    <th>Qtde Idosos</th>
                    <th>Qtde SOS</th>
                  
                </tr>
            </thead>
            <tbody ng-repeat="vitima in VitimaLits">
                <tr>
                    <td>{{vitima.NomeCompleto}}</td>
                    <td>{{Ocorre}}</td>
                    <td>{{qtdeFilhos}}</td>
                    <td>{{qtdeIdoso}}</td>
                    <td>{{qtdeSOS}}</td>
                   
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="~/js/Relatorios.js"></script>