<!doctype html>
<html lang="en">
<head>
    <title>GERENCIAMENTO CENTRAL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/stylesidebar.css">
   

    <script src="~/js/jquery-3.2.1.js"></script>
    <script src="~/js/angular.js"></script>
    <script src="~/js/angular-block-ui.js"></script>
    <script src="~/js/fusioncharts.js"></script>
    <script src="~/js/angular-fusioncharts.js"></script>


</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="index.html" class="logo">ROSE.S2</a></h1>
                <ul class="list-unstyled components mb-5">
                    <li class="active">  
                        <a asp-area="" asp-controller="Home" asp-action="Index"> <span class="fa fa-home mr-3"></span>CENTRAL</a>                        
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Usuarios"> <span class="fa fa-user mr-3"></span>USUARIOS</a>                       
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Relatorios"> <span class="fa fa-briefcase mr-3"></span>RELATORIOS</a>                       
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Chat"> <span class="fa fa-sticky-note mr-3"></span>CHAT</a>                    
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Automacao"> <span class="fa fa-sticky-note mr-3"></span>AUTOMAÇÃO</a>                       
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Parceiros"> <span class="fa fa-sticky-note mr-3"></span>PARCEIROS</a>                        
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Vagas"> <span class="fa fa-sticky-note mr-3"></span>VAGAS DISPONIVEIS</a>                      
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Ocorrencias"> <span class="fa fa-sticky-note mr-3"></span>OCORRENCIAS</a>                     
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Alertas"> <span class="fa fa-sticky-note mr-3"></span>ALERTAS</a>                      
                    </li>
                </ul>

                <div class="mb-5">
                    <h3 class="h6 mb-3">Subscribe for newsletter</h3>
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <input type="text" class="form-control" placeholder="Enter Email Address">
                        </div>
                    </form>
                </div>

                <div class="footer">
                    <p>
                   
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </nav> 
        <div id="content" class="p-4 p-md-5 pt-5" style="background-color:white;" ng-app="App">
            @RenderBody()
        </div>
    </div>

    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/mainsidebar.js"></script>
</body>
</html>
